/* General CSS styles*/

body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

/* Header/Landing page */

.backgroundContainer {
    background-image: url("./assets/phone-background.png");
    background-size: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50%;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right:0;
    text-align: left; 
    background: rgb(36,31,34);
    height: 100%;
    z-index: 10;
    padding-top: 3em;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    background: rgb(52, 59, 63);
}

nav ul li a:hover{
    background: rgb(65, 73, 78);
}

.exit-btn{
margin-bottom: 1em;
margin-top: -1.3em;
text-align: right;
padding: 0 1.4em;
}

.exit-btn img {
    width: 1em;
    cursor: pointer;
}

.black-logo {
    width: 40%;
}

.hide-mobile {
    display: none;
}

.hamburger {
    width: 1.3em;
    margin-top: 30%;
}

/* gray container section */

.gray-container {
    background: #787875;
    color: white;
    width: 100%;
    padding: 4em 0em;
    /* 3 values refers to top, left/right, bottom. */
}

.gray-container ul li p {
    padding: 1em 1em;
}

.gray-container ul li {
    padding: 1em 0 1em;
}

.gray-container ul li img {
    width: 16%;
}

/* Different section*/
.dark-container {
    background: #3E3E3E;
    color: white;
    width: 100%;
    padding: 2em 0;
}

.dark-container figure {
    /* The figure comes with preset margins and padding that need to be overwritten.*/
    margin: 0;
    padding: 0;
}

.dark-container img {
    width: 30%;
    margin-bottom: 2em;
}

.dark-container li {
    padding: 2em 0;
}

figcaption {
    font-weight: 600;
}

/* Silver Section */

.silver-container {
    background: #D8D8D8;
    padding: 2em 0;
}

.silver-container h3 {
    font-size: 2em;
}

.silver-container a {
    text-decoration: none;
    color: black;
    background: #E2C525;
    width: calc(100% - 1em);
    padding: .5em;
    display: block;
    margin: 3% auto 6%; /*This will keep your button centered no matter what. */
    font-size: 1.2em;
    position: relative;
    border: 1px solid black;
    transition: .3s;
}

.silver-container a:hover {
    background: rgb(139, 122, 20);
    transition: 0.3s;
}

/* Footer */

footer {
    background: black;
    color: white;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
}

footer p {
    font-size: .7em;
}

footer img {
    width: 30%;
}

footer ul li a {
    text-decoration: none;
    color: white;
    opacity: .5;
    font-size: .8em;
}

@media (min-width: 650px) {

    /* NAV */

    .black-logo {
        width: 35%;
    }

    .hamburger {
        width: 1.3em;
    }

    /* Gray container */

    .gray-container ul {
        display: flex;
    }

    .gray-container ul li img {
        width: 25%;
    }


    /* dark container */
    .dark-container {
        padding-top: 4em;
    }

    .dark-container ul {
        display: flex;
    }

    .dark-container li {
        padding-bottom: 4em;
    }

    .dark-container img {
        width: 40%;
    }
}

@media (min-width: 875px) {

    /*NAV*/
    .black-logo {
        width: 30%;
    }

    .hamburger {
        width: 1.4em;
    }

    /*gray-container*/
    .gray-container ul li img {
        width: 20%;
    }
}

@media (min-width: 1024px) {

    .show-desktop{
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-desktop{
        display: none;
    }

    nav ul {
        width: auto;
        height: auto;
        display: flex;
        position: inherit;
        background: transparent;
        padding-top: 0;
    }

    nav ul li {
        float: left;
    }

    nav ul li a{
        color: black;
        background: none;
        text-align: right;
        padding: 1em 2em;
    }

    nav ul li a:hover{
        background: none;
    }

    .scroll {
        width: 1.9%;
        animation: move 3s infinite alternate;
    }




    @keyframes move {
        0% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(10px);
        }
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .scrolldown{
        height: 100%;
    }

    .silver-container {
        text-align: center;
    }

    .silver-container a {
        width: 50%;
        font-size: 1.3em;
    }

    .dark-container img {
        width: 30%;
    }

    /*Footer*/
    footer img {
        width: 20%;
    }

    .hide-mobile {
        display: block;
        margin: 0 auto 13% auto;
    }


}

@media (min-width: 1600px) {
    .backgroundContainer {
        padding-bottom: 1px;
    }

    .black-logo {
        width: 20%;
    }
    

    nav ul li {
        padding: 0px 1.5em 0px;
    }

    .gray-container ul li img{
        width: 12%;
    }

    
    .gray-container ul li p{
        padding-left: 1em;
        margin-left:3em;
        margin-right:3em; 
        font-size: 1.2em;
    }

    .dark-container ul li img{
        width: 21%;
    }

    .dark-container ul li blockquote {
        font-size: 1.3em;
        margin-left: 3em;
        margin-right: 3em;
    }

    .container {
        padding-top: 2%;   
    }

    footer img{
        width: 10%;
    }
}

